.navbar-brand{
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    position: relative;
    margin: 0 0 0 500px;
}

.jumbotron {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/dining\ table.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 0;
    height: 374px;
}

.display-4 {
    color: white;
    z-index: 1;
    text-align: center;
    margin: 0 auto;
    font-size: 100px;
    top: 55px;
    position: relative;
}

.selections {
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

body {
}

#foodborder {
    border: 1px solid gray;
    border-radius: 15px;
    padding: 20px;
    width: 30%;
    float: left;
}

#drinkborder {
    border: 1px solid gray;
    border-radius: 15px;
    padding: 20px;
    width: 30%;
    float: right;
}

.remove {
    display: none;
}

#card {
    width: 60%;
}