.navbar-brand{
    font-family: 'Stoke', serif;
    text-align: center;
    position: relative;
    margin: 0 0 0 500px;
    font-size: 40px;
}

.jumbotron {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/dining\ table.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 0;
    height: 374px;
}

.display-4 {
    color: white;
    z-index: 1;
    text-align: center;
    margin: 0 auto;
    font-size: 100px;
    top: 55px;
    position: relative;
    font-style: italic;
}

.selections {
    font-family: 'Indie Flower', cursive;
    text-align: center;
}

body {
    background-color: #E4ECED;
}

#foodborder {
    border: 2px solid gray;
    border-radius: 15px;
    padding: 20px;
    width: 30%;
    float: left;
}

#drinkborder {
    border: 2px solid gray;
    border-radius: 15px;
    padding: 20px;
    width: 30%;
    float: right;
}

.remove {
    display: none;
}

#card {
    max-width: 40%;
    margin-top: 20px;
    position: relative;
    right: 10px;
}

.card-img-top {
    max-width: 60%;
    position: relative;
    left: 20%;
}

.drinkCard-img-top {
    max-width: 60%;
    position: relative;
    left: 20%; 
}

#save_value {
    border-radius: .25rem;
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

#save_drink {
    border-radius: .25rem;
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

#drinkCard {
    max-width: 40%;
    margin-top: 20px;
    position: relative;
    left: 10px;
}

.col-lg-9 {
    animation-delay: 3s;
}